@import '/src/assets/sass/abstracts/vars';

.section {
  background-color: $bg-light-gray-1;
  width: 100%;
}

.productDetailContainer {
  padding: $padding-80 0;
  .productImage {
    block-size: 30rem;
    max-inline-size: min-content;
  }

  .productDetails {
    align-self: center;
    .productTitle {
      color: $text-blue;
      text-transform: uppercase;
      font-size: $font-30;
      margin-block-end: $middle-margin;
      letter-spacing: var(--space-7);
    }
    .productDescription {
      letter-spacing: var(--space-05);
      margin-block-end: $large-margin;
    }
  }
}
