@import '/src/assets/sass/abstracts/vars';
@import '/src/assets/sass/abstracts/mixins';

.newsCard {
  position: relative;
  width: 44%;
  flex: auto;
  margin: $medium-margin var(--space-15) 0 var(--space-15);

  &:nth-child(5),
  &:nth-child(6) {
    display: none;

    @include respond-to(md) {
      display: block;
    }
  }

  @include respond-to(md) {
    width: 31%;
    height: var(--size-367);
    margin: 0 var(--size-18) $large-margin var(--size-18);
    border-radius: $border-radius-22;

    &:nth-child(1),
    &:nth-child(4) {
      margin-left: 0;
    }

    &:nth-child(3),
    &:nth-child(6) {
      margin-right: 0;
    }
  }

  @include respond-to(lg) {
    width: 31%;
    height: var(--size-388);
    margin: 0 var(--space-40) $large-margin var(--space-40);
  }
}

.newsImage {
  display: block;
  width: 100%;
  height: var(--size-340);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  object-position: 50% 25%;
  border-radius: var(--space-40) var(--space-40) $large-margin $large-margin;
  @include respond-to(md){
    height: var(--size-366);
  }
  @include respond-to(lg){
    border-radius: $border-radius-22;
    height: var(--size-386);
  }

}

.titleItemDetail {
  background-color: $border-nav-submenu;
  border-radius: 0 0 var(--size-52) var(--size-52);
  padding: var(--size-50);
  height: var(--size-196);
  margin-top: auto;
  position: absolute;
  bottom: 0;
  width: 100%;

  @include respond-to(md) {
    border-radius: 0 0 var(--size-60) var(--size-60);
    padding: $middle-padding $medium-padding;
  }

  @include respond-to(lg) {
    border-radius: 0 0 $border-radius-22 $border-radius-22;
    height: var(--size-252);
  }

  .titleWrapper {
    @include respond-to(md) {
      margin-top: var(--size-20);
    }
  }

  .title {
    font-size: var(--size-50);
    font-weight: 600;
    color: $border-dark-gray;
    line-height: var(--size-50);
    margin: 0;
    margin-right: var(--size-10);
    margin-top: var(--size-10);
    letter-spacing: var(--space-02);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    @include respond-to(md) {
      width: calc(100% - var(--space-245));
      font-size: var(--size-60);
      white-space: nowrap;
      line-height: var(--space-88);
    }

    @include respond-to(lg) {
      font-size: var(--space-83);
      white-space: inherit;
    }
  }

  .date {
    font-size: var(--size-35);
    color: $border-light-gray;
    font-weight: bold;
    letter-spacing: var(--space-012);
    line-height: var(--radius-450);
    margin-bottom: 0;

    @include respond-to(lg) {
      font-size: var(--size-50);
      line-height: var(--size-61);
    }
  }
}

.cta {
  font-size: var(--size-35);
  line-height: var(--size-50);
  width: max-content;

  @include respond-to(md) {
    font-size: var(--size-50);
    line-height: var(--size-82);
    margin-right: calc(var(--size-10) * -1);
  }

  &:hover{
    text-decoration: underline;
  }

  &::after {
    border-top: var(--size-10) solid transparent;
    margin: auto $default-padding;

    @include respond-to(md) {
      border-top: $default-padding solid transparent;
      margin: auto;
    }
  }

  @include respond-to(lg) {
    text-align: end;
  }
}