@import '/src/assets/sass/abstracts/vars';
@import '/src/assets/sass/abstracts/mixins';

.newsCard {
  position: relative;
  border-radius: $border-radius-26;
  width: 26rem;
  height: 29rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  flex: auto;

  @include respond-to(lg) {
    width: 20rem;
    height: 21rem;
  }

  @include respond-to(md) {
    width: 13rem;
    height: 14rem;
  }

  .titleItemDetail {
    background-color: #e1e1e1;
    border-radius: 0 0 $border-radius-26 $border-radius-26;
    padding: 20px 15px;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    .title {
      font-size: 2.17rem;
      font-weight: 600;
      color: #323232;
      line-height: 23px;
      margin: 0;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .date {
      font-size: 1.2rem;
      color: #8b8b8b;
      font-weight: bold;
      letter-spacing: 1.2px;
    }
    .newsLink {
      float: right;
      text-transform: uppercase;
    }
  }
}
