@import "@sass/abstracts/vars";
@import "@sass/abstracts/mixins";

.w-95{
    width:95%;
}

.full__bleed{
    padding:4rem 0;
    background-color: $bg-primary-gray;
}
.footer-list{
    margin: 0 11px 0 0;
    padding: 0 0 0 10px;
}
.footer{
    a{
      color:$text-light-grey;
      display:block;
      text-decoration:none;
      
    }
    &__tile{
      border-left: 1px solid $bg-basic-color-active;
      height: inherit;
    }
    &__heading{
      a{    
        letter-spacing: 2.9px;
        font-size: 13px;
        margin-bottom:15px;
        text-transform:uppercase;

        &:hover{
            color: $text-light-grey;
        }
      }
  }
    &__content{
       font-size: 14px;
        line-height:22px;
      
      &:hover{
       color: $text-blue;
       text-decoration: underline;
      }
    }
}