@import "@sass/abstracts/vars";
@import "@sass/abstracts/mixins";

$primaryFooter: ".primary-footer";

#{$primaryFooter}{
  background-color: $bg-primary-gray;
  padding:var(--space-120) var(--size-0);

  &__width{
    width:95%;
  }
 
  &__list{
    border-left: var(--border-width-100) solid $bg-basic-color-active;
    height: inherit;
    margin: var(--size-0) $small-margin var(--size-0) var(--size-0);
    padding: var(--size-0) var(--size-0) var(--size-0) $normal-padding;

    @include respond-to(mobile-horizontal) {
        flex-basis: calc(var(--width-50) - var(--size-80));
        border-left: var(--border-width-200) solid $bg-basic-color-active;
        border-color: var(--gray-350);
        padding: $size-padding 0 $size-padding $small-margin;
    }

    @include respond-to(mobile-horizontal) {
        &:nth-child(odd){
            border:none
        }
        &:nth-child(even){
            padding-left: var(--size-80);
        }
    }
  }
  
  a{
    color:$text-light-grey;
    display:block;
    text-decoration:none; 
  }
  
  &__heading{
    width:max-content;
    @include respond-to(mobile-horizontal) {
        margin-bottom: var(--size-0);
      }
    a{    
      letter-spacing: var(--letter-spacing-290);
      font-size: var(--font-size-130);
      margin-bottom:$medium-margin;
      text-transform:uppercase;
      position: relative;

      &:hover{
          color: $text-light-grey;
      }

      @include respond-to(mobile-horizontal) {
        margin-bottom: var(--size-0) ;
      }

      &::after{
        @include respond-to(mobile-horizontal) {
            content: '';
            display: block;
            position: absolute;
            top: var(--space-1);
            right:  -$middle-margin;
            width: var(--size-0);
            height: var(--size-0);
            border: $extra-small-width solid transparent;
            border-left-width: $small-width;
            border-left-color: #909090;
        }
      }
    }
  }

  &__content{
    font-size: var(--font-size-140);
    line-height: var(--line-height-45);

    &:hover{
      color: $text-blue;
      text-decoration: underline;
    }
  }
}


